<div style="color: white;">
    <mat-grid-list cols="2" rowHeight="1:1">
        <mat-grid-tile style="background-color: #181B1B;">
            <div>
                <form [formGroup]="taskRef" (ngSubmit)="addTask()" colo>
                    <label><h2>Add Task</h2></label>
                    <mat-form-field>
                        <mat-label style="color: white;">Task ID</mat-label>
                        <input matInput formControlName="tID">
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label style="color: white;">Task Owner</mat-label>
                        <input matInput formControlName="tOwner">
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label style="color: white;">Task</mat-label>
                        <textarea matInput formControlName="task"></textarea>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label style="color: white;">Deadline</mat-label>
                        <input type="date" matInput formControlName="deadline">
                    </mat-form-field>
                    <br>
                    <button type="submit" mat-raised-button color="primary">Add Task</button>
                    <button type="reset" mat-raised-button color="warn">Reset</button>
                </form>
                <br>
            </div>
        </mat-grid-tile>
        <mat-grid-tile style="background-color: #181B1B;">
            <div>
                <label style="text-align:center;"><h2>To-Do List</h2></label>
                <table mat-table [dataSource]="taskData" class="mat-elevation-z8" style="background-color: #464949;">
                    <ng-container matColumnDef="tID">
                        <th mat-header-cell *matHeaderCellDef style="color: white;">Task ID</th>
                        <td mat-cell *matCellDef="let task" style="color: white;"> {{task.tID}} </td>
                    </ng-container>

                    <ng-container matColumnDef="tOwner">
                        <th mat-header-cell *matHeaderCellDef style="color: white;">Task Owner</th>
                        <td mat-cell *matCellDef="let task" style="color: white;"> {{task.tOwner}} </td>
                    </ng-container>

                    <ng-container matColumnDef="task">
                        <th mat-header-cell *matHeaderCellDef style="color: white;">Task</th>
                        <td mat-cell *matCellDef="let task" style="color: white;"> {{task.task}} </td>
                    </ng-container>

                    <ng-container matColumnDef="deadline">
                        <th mat-header-cell *matHeaderCellDef style="color: white;">Deadline</th>
                        <td mat-cell *matCellDef="let task" style="color: white;"> {{task.deadline}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="columnHeaders"></tr>
                    <tr mat-row *matRowDef="let row; columns: columnHeaders;"></tr>
                </table>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>