<div>
    <mat-grid-list cols="2" rowHeight="1:1">
        <mat-grid-tile style="background-color: plum;">
            <h3 style="text-align: center;">To-Do Tasks</h3>
            <br><br>
            <div border="1">
                <form [formGroup]="taskRef" (ngSubmit)="addTask()">
                    <mat-form-field>
                        <mat-label>Task ID</mat-label>
                        <input matInput formControlName="tID">
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label>Task Owner</mat-label>
                        <input matInput formControlName="tOwner">
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label>Task</mat-label>
                        <textarea matInput formControlName="task"></textarea>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label>Deadline</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="deadline">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <br>
                    <button type="submit" mat-raised-button color="primary">Add Task</button>
                    <button type="reset" mat-raised-button color="warn">Reset</button>
                </form>
                <br>
                {{msg}}
            </div>
        </mat-grid-tile>
        <mat-grid-tile style="background-color: violet;">
            <h3>To-Do List</h3>
            <br><br>
            <table mat-table [dataSource]="taskData" class="mat-elevation-z8">
                <ng-container matColumnDef="tID">
                    <th mat-header-cell *matHeaderCellDef>Task ID</th>
                    <td mat-cell *matCellDef="let task"> {{task.tID}} </td>
                </ng-container>

                <ng-container matColumnDef="tOwner">
                    <th mat-header-cell *matHeaderCellDef>Task Owner</th>
                    <td mat-cell *matCellDef="let task"> {{task.tOwner}} </td>
                </ng-container>

                <ng-container matColumnDef="task">
                    <th mat-header-cell *matHeaderCellDef>Task</th>
                    <td mat-cell *matCellDef="let task"> {{task.task}} </td>
                </ng-container>

                <ng-container matColumnDef="deadline">
                    <th mat-header-cell *matHeaderCellDef>Deadline</th>
                    <td mat-cell *matCellDef="let task"> {{task.deadline}} </td>
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="columnHeaders"></tr>
                <tr mat-row *matRowDef="let row; columns: columnHeaders;"></tr>
            </table>
        </mat-grid-tile>
    </mat-grid-list>
</div>